<web-app>
    <servlet>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>com.epam.brest.course2015.web.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>helloServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring-context.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>




</web-app>