<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

    <Appenders>
        <Console name="Console" target="SYSTEM.OUT">
            <Patternlayout pattern="%d{HH:mm:ss.SSS}[%t] %-5level %logger{6} - %msg%n"/>
        </Console>

        <File name="File" filename="logs/server.log">
            <PatternLayout pattern="%d[%t] %msg %n"/>
        </File>

        <!-- Остальные аппендеры можно подключить, изучив документацию фреймворка jog4j2-->

    </Appenders>

    <Loggers>

        <Logger name="com.epam.brest" level="DEBUG">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>

</Configuration>